packages:
  yum:
    expect: []
    mysql-server: []

services:
  sysvinit:
    mysqld:
      enabled: "true"
      ensureRunning: "true"
      packages:
        yum:
          mysql-server: []

container_commands:
  init-mysql: 
    command: |
      PASSWD=eDptDk9ybchyqu0i
      DATABASE=wordpress

      mysql_cmd="mysql"
      mysql_cmd_root="mysql --user root --password=$PASSWD"

      # Make sure that NOBODY can access the server without a password
      $mysql_cmd -e "UPDATE mysql.user SET Password = PASSWORD('$PASSWD') WHERE User = 'root'"
      # Kill the anonymous users
      $mysql_cmd_root -e "DROP USER ''@'localhost'"
      # Because our hostname varies we'll use some Bash magic here.
      $mysql_cmd_root -e "DROP USER ''@'$(hostname)'"
      # Kill off the demo database
      $mysql_cmd_root -e "DROP DATABASE test"
      # Make our changes take effect
      $mysql_cmd_root -e "FLUSH PRIVILEGES"

      # Initialize database
      $mysql_cmd_root -e "create database if not exists $DATABASE;"

    leader_only: true
